html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "oldHorror";
  src: local("old_horror"), url("../src/font/old_horror.ttf") format("truetype");
}
@font-face {
  font-family: "Aero_Matics";
  src: local("Aero_Matics_Stencil_Regular"),
    url("../src/font/Aero_Matics_Stencil_Regular.ttf") format("truetype");
}
